.btn {
    min-width: 130px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: 700;
    border-style: solid;
    border-radius: 2px;
    border-width: 1px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}

.btn-warning {
    background-color: #e4cf12;
    border-color: #000000;
}

.btn-warning:hover {
    background-color: #978907;
}

.btn-danger {
    background-color: #c72b0f;
    border-color: #000000;
    color: white;
}

.btn-danger:hover {
    background-color: #921904;
}

.btn-info {
    background-color: #0f74c7;
    border-color: #000000;
    color: white;
}

.btn-info:hover {
    background-color: #043692;
}

.btn-success {
    background-color: #049729;
    border-color: #000000;
    color: white;
}

.btn-success:hover {
    background-color: #027515;
}

.hidden {
    display: none;
}