
#home {
    width: 100%;
    min-height: 60vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#estoque {
    width: 80%;
}

#home h2 {
    color: #050A30;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22pt;
    width: 100%;
}


#itens {
    display: flex;
    align-items: baseline;
    justify-items: flex-start;
}

#itens p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    margin-right: 10px;
}

#itens select {
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    border-style: none;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
}

.filter {
    flex: 1;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}

.filter:last-child {
    justify-content: flex-end;
}

.filter .btn {
    min-width: auto;
    max-width: 50px;
    font-weight: 900;
    background-color: white;
    color: black;
    border: none;
    margin-left: 10px;
}

.filter input {
    font-size: 12pt;
    margin-left: 10px;
    padding: 5px;
    border: none;
    width: 50px;
    text-align: center;
    color: black;
}

.btn-novo {
    margin-bottom: 20px;
}

